/* ===== ALL PAGES ===== */
/* @import url('http://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext'); */
/* @import url('http://fonts.googleapis.com/css?family=Oxygen:300,400,700&subset=latin-ext'); */
html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	min-width: 100%;
	height: 100%;
	/* min-height:100%; */
	/* font-family: 'Oxygen', Helvetica, Arial, sans-serif; */
	/* font-size: 14px; */
	/* line-height: 1.644; */
	/* color: #555555; */
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
#wpadminbar {
	display: none;
}
/* html { */
	/* height: 100%; */
/* } */
body {
	min-height: 100%;
}
#bs-main-wrapper {
	/* position: relative; */
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	padding-top: 200px;
	padding-top: 50px;
	padding-bottom: 100px;
	flex-direction: column;
}
.container-fluid {
	width: 100%;
}
#bs-content {
	flex-grow: 1;
	padding-bottom: 100px;
}
footer {
	width: 100%;
	min-width: 100%;
}


/* ===== ALL COMPONENTS ===== */

img {
	width: 100%;
	height: auto;
}
a {
	-webkit-text-decoration-skip: objects;
	text-decoration: none;
	outline-width: 0;
}
a:active,
a:hover,
a:focus {
}
button,
input,
optgroup,
select,
textarea {
	line-height: inherit;
}
input[type="checkbox"] + span::before {
	margin-right: 10px;
}
i.fa,
i.fa a {
}
.btn {
}

/* main menu */
#bs-main-menu {
}


/* ===== UTILS ===== */

.lorem:before {
	content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
}
.flex {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	align-items: center;
}
.flex .flex-grow {
	flex-grow: 1;
	flex-shrink: 1;
}
/* this fix (make equals) the cols height in the same row */
.row.same-height {
  overflow: hidden; 
}
.row.same-height [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.middle {
	vertical-align: middle;
}
.clearfix {
	/* patch for flex clearfix */
	flex-basis: 100%;
}
.grecaptcha-badge {
	display: none;
}
.facebook-icon {
	visibility: hidden;
}
.facebook-icon a::before {
	visibility: visible;
	content: "\f09a";
	font-family: FontAwesome;
	display: block;
	background: #365899;
	color: #fff;
	padding: 5px 9px;
	height: 30px;
	width: 30px;
	margin: 0 auto;
}
/* central top menu */
@media (min-width:768px) {
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		text-align: center;
	}
	.navbar-nav {
		float: none;
	}
	.navbar-nav > li {
		float: none;
		display: inline-block;
	}
}