/* ===== COMPONENTS ===== */

img {
	max-height: 100%;
	max-width: 100%;
	
	&:not(.width-attr) {
		width: auto; // override width property tag
	}
	
	&:not(.height-attr) {
		height: auto; // override height property tag
	}
}

a {
	text-decoration-skip: objects;
	
	&:active,
	&:hover,
	&:focus {
		
	}
}

button,
input,
optgroup,
select,
textarea {
	line-height: inherit;
}

input[type="checkbox"] + span::before {
	margin-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
}
