/* === USAGE: ===
@include prefix-list((
	column-count: 3,
	column-gap: 1.5em,
	column-rule: 2px solid hotpink
), webkit moz);
*/

// Note that this version uses Sass maps, hence requires version 3.3 or higher
@mixin prefix-list($declarations, $prefixes: ('-webkit-', '-moz-', '-ms-', '-o-', '')) {

  @each $property,
  $value in $declarations {
    @each $prefix in $prefixes {
      #{$prefix + $property}: $value;
    }
  }
}